:root {
  --color-transparent: transparent;
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #323232;
  --color-grey-border: #cbd5e1;
  --color-grey-text: #64748b;
  --color-grey-hover: #94a3b8;
  --color-grey-dark: #485466;
  --color-blue: #158fd3;
  --color-blue-hover: #f1f5f9;
  --color-disabled: rgba(0, 0, 0, 0.38);
  --color-bg-hex: #f3f6f8;
  --color-green: #53a138;
  --color-green-focus: #10b981;
  --color-light-green: #d0e3c9;
  --color-yellow: #eea414;
  --color-red: #d31515;
  --color-success: #10b981;
  --color-success-dark: #059669;
  --color-danger: #ef4444;
  --color-danger-dark: #dc2626;
  --color-warning: #f59e0b;
  --color-warning-dark: #d97706;
  --color-green-icon: brightness(0) saturate(100%) invert(55%) sepia(13%) saturate(6702%) hue-rotate(123deg) brightness(96%) contrast(87%);
}
