@import "variables";

.header,
.wrapper {
  padding-inline: 50px;
}

.header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: var(--color-bg-hex);
}

.wrapper {
  padding-block: 25px;
  max-height: calc(100vh - 50px);
  overflow: auto;
}

@media #{$ui-mobile} {
  .header,
  .wrapper {
    padding-inline: 5px;
  }

  .wrapper {
    padding-block: 10px;
  }
}
