::ng-deep.p-dialog-content {
  --p-dialog-content-padding: 0 5px 10px;
}

.container {
  display: grid;
  gap: 15px;
}

.ingredient-item {
  display: grid;
  gap: 5px;
  padding: 10px;
  border: 1px solid var(--color-grey-border);
  border-radius: var(--border-radius-sm);
}
